body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0px;
}

.navbar-content {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.356);
    margin: 10px 70px;
    border-radius: 10px;

}

.brand-and-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.navbar-brand img {
    height: 70px;
    width: 90px;
}

.navbar-brand span {
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-right: 30px;
}

ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #8BC34A;
}

ul li:last-child {
    margin-right: 20px;
}

button {
    color: #8BC34A;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.header {
    height: 500px;
    top: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../assets/images/background.jpg") center/cover no-repeat;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-direction: column;   /* Stack children vertically */
    height: 50%; 
}

.header-title {
    color: white;
    font-size: 24px;
    margin-top: 60px;
    font-weight: bold;
}

.text-description {
    font-size: 18px;
    color: #8BC34A;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-weight: 400;  
}
.centered-text {
    display: flex;
    justify-content: center;
    margin-bottom: 70px; 
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
.column-1 {
    flex: 1;
    padding: 20px 100px;
    box-sizing: border-box; 
}
.column-1 img {
    width: 400px; 
    height: 350px;
    border: 3px solid #8BC34A; 
}
.column-2 {
    flex: 2;
    padding: 20px 30px;
    box-sizing: border-box; 
}
.column-2 h4{
    color: #8BC34A;
}
.col-container {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0; 

}
.column img{
    width: 170px; 
    height: 170px;
    border-radius: 100%;
}    
.team_member{
margin-top: 40px;
margin-bottom: 0px;
}
