body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgba(92, 88, 88, 0);
    padding: 10px 0px;
}
.navbar-content {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.604);
    margin: 10px 70px;
    border-radius: 10px;

}

.brand-and-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.navbar-brand img {
    height: 70px;
    width: 90px;
}

.navbar-brand span {
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-right: 30px;
}

ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #8BC34A;
}

ul li:last-child {
    margin-right: 20px;
}

button {
    color: #8BC34A;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.header {
    height: 700px;
    top: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../assets/images/background.jpg") center/cover no-repeat;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-direction: column;   /* Stack children vertically */
    height: 80%; 
}

.header-title {
    color: white;
    font-size: 24px;
    margin-top: 60px;
    font-weight: bold;
}

.text-description {
    font-size: 18px;
    color: #8BC34A;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-weight: 400;  
}
.form-control{
    padding:10px 150px 10px 30px;
    border-radius: 100px;
    border: none;
    margin-right: 10px;

}
.btn-search {
    background: #8BC34A;
    padding: 10px;
    border-radius:100px;
    color: #fff; 
}
::placeholder { 
    color: #8BC34A;
}
.middle-content{
    height: 100px;
   
}
.text-center{
    display: flex;
    align-items: center;
}
.centered-text {
    display: flex;
    justify-content: center; 
}
.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
    width: 800px;
}

.custom-btn {
    width: 150px;
    padding: 7px;    
    background-color: #8BC34A;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #528a12;
}
.item-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    gap: 20px; 
    margin-bottom: 50px;
}

.card {
    background-image: url('../../assets/images/cardbg.avif');
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 60%;
    height: auto;
}

.card-title {
    color: #8BC34A;
    font-weight: 600;
    font-size: 14px;
    margin: 10px;
}

.card-subtitle {
    font-size: 12px;
    color: #ffffff;
    padding: 7px;
    margin-inline: 40px;
    border-radius: 100px;
    background-color: rgba(231, 231, 231, 0.508);
    backdrop-filter: blur(10px);
}

.footer {
  position: relative;
  width: 100%;
  background: #8BC34A;
  min-height: 100px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
li .menu__link {
  font-size: 18px;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 200;
}
.footer p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}
a{
    text-decoration: none;
    color: #fff;
}








